# Build results
[Bb]in/
[Oo]bj/

.vs/
.idea/
*.user
*.suo

# Database
*.db

appsettings.Development.json
appsettings.Production.json
appsettings.Local.json
appsettings.*.json
!appsettings.json

# Logs
*.log